<div ng-controller = 'dashboardController'>
  <button ng-click='logout()'>Log Out</button>
  <h4>Hi {{user.first_name}}!</h4>
  Search: <input type="text" ng-model = 'search'><br>
  <a href="#/addquestion">Add a Question!</a><br>

  <table>
    <tr>
      <th>Questions</th>
      <th>Answers</th>
      <th>Action</th>
    </tr>
    <tr ng-repeat = "topic in topics | orderBy: '-created_at' | filter : search">
      <td>{{topic.topic}}</a></td>
      <td>{{topic.answerCount}}</td>
      <td><a href="#/topic/{{topic._id}}">Show</a>    <a href="#/topic/{{topic._id}}/newanswer">Answer</a></td>
    </tr>
  </table>
</div>
