<div ng-controller = 'dashboardController'>
  <button ng-click='logout()'>Log Out</button>
  <h4>Welcome, {{user.first_name}}</h4>
  Search: <input type="text" ng-model = 'search'>

  <table>
    <tr>
      <th>Category</th>
      <th>Topic</th>
      <th>User Name</th>
      <th>Posts</th>
    </tr>
    <tr ng-repeat = "topic in topics | orderBy: '-created_at' | filter : search">
      <td>{{topic.category}}</td>
      <td><a href="#/topic/{{topic._id}}">{{topic.topic}}</a></td>
      <td><a href="#/userprofile/{{topic._user._id}}">{{topic._user.first_name}}</a></td>
      <td>{{topic.count}}</td>
    </tr>
  </table>
  <fieldset>
  <legend>Add a new Topic</legend>
  <form ng-submit="createTopic(topic) ">
    <label>Topic: <input type="text" ng-model='topic.topic'></label><br>
    <label>Description: <textarea ng-model='topic.description'></textarea></label><br>
    <label>Category: <select ng-model='topic.category'><br>
                    <option>Python</option>
                    <option>HTML</option>
                    <option>Ruby</option>
                    <option>Mean</option>
                    <option>iOS</option>
                    </select>
                    <button>Submit</button>
  </label>
  </form>
</fieldset>
</div>
